.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 0.2rem;

    width: 100%;
    img{
        height: 15rem;
        clip-path: circle();
    }

    p{ 
        color: transparent;
        font-size: 3rem;
        font-weight: bold;
        background: linear-gradient(var(--orange-100), var(--yellow-100));
        background-clip: text;
    }

}

@media(min-width: 720px){
    .profile{
        flex-wrap: wrap;

        img{
            height: 10rem;
        }

        p{
            font-size: 2rem;
            text-align: center;
        }
    }
}