@font-face {
    font-family: 'icomoon';
    src:  url('../src/assets/icomoon/fonts/icomoon.eot?estz45');
    src:  url('../src/assets/icomoon/fonts/icomoon.eot?estz45#iefix') format('embedded-opentype'),
      url('../src/assets/icomoon/fonts/icomoon.ttf?estz45') format('truetype'),
      url('../src/assets/icomoon/fonts/icomoon.woff?estz45') format('woff'),
      url('../src/assets/icomoon/fonts/icomoon.svg?estz45#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-agriculture:before {
    content: "\e900";
  }
  .icon-farm:before {
    content: "\e901";
  }
  .icon-oil:before {
    content: "\e902";
  }
  .icon-shovels:before {
    content: "\e903";
  }
  

:root {
    --background: #ebebeb;
    --accua-green-100: #A3F2CC;
    --yellow-100: rgb(255, 202, 67);
    --gray-blue-800: rgb(21, 28, 44);
    --orange-100: rgb(255, 132, 0);
    --green-500: rgb(0, 155, 65);
    --brown-100: #C0A94F;
    --dark-accua-green: #00D48C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

// Custom Scroll Bar

/* width */
::-webkit-scrollbar {
    background: transparent;
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5c5126;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #49411f;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%; //15px
    }
    @media (max-width: 720px) {
        font-size: 87.5%; //14px
    }
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}


a{
    text-decoration: none;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

h1 {
    font-weight: 600;
}

button {
    cursor: pointer;
    border: 0;
}

[disable] {
    opacity: 0.6; //
    cursor: not-allowed;
}
