.roadmapCard{
    width: 80vw;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.3rem;

    background: linear-gradient(#5c5126, #776931);

    border: 2px solid #776931;

    h2{
        color: #00D48C;
        font-size: 2.5rem;
    }

    div{
        width: 90%;
        display: flex;
        color: #00D48C;
        text-align: start;
        div{
            color: #fff;
            font-weight: 600;
        }
    }
}

@media(min-width: 768px){
    .roadmapCard{
        width: 100%;
    }
}